/*Боковая планка и серый текст*/
.bar {
	display: block;
	padding-left: 25px;
	border-left: 7px solid;
	border-left-color: rgba(27, 31, 35, 0.05);
	color: #979a9e;
}

.plate-1 {
	display: block;
	background-color: #D9EDF7;
	padding: 15px 0 15px 25px;
	color: #31708F;
	border-radius: 5px;
}

.plate-2 {
	display: block;
	background-color: #F2DEDE;
	padding: 15px 0 15px 25px;
	color: #C16542;
	border-radius: 5px;
}